@import "../variables";

.about {
  &__suptitle {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 530px;
      height: 2px;
      background: $GrayscaleBlack;
      bottom: 10px;
      left: 110px;
    }
  }

  &__title {
    margin-top: 20px;
    margin-bottom: 50px;
    padding-right: 540px;
  }

  &__description {
    &__text1 {
      margin-bottom: 100px;
      padding-right: 560px;
    }

    &__text2 {
      margin-top: 85px;
      padding-left: 493px;
      padding-right: 73px;
    }
  }

  &__variants {
    background: $PrimaryBlue100;
    height: 460px;
    border: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 25px;
    padding: 55px 68px;
  }

  &__item {
    display: flex;
    width: 500px;
    height: 100px;
    align-items: center;
    column-gap: 30px;
  }

  &__item-description {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    padding-right: 50px;
  }

  &__button {
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    color: #fff;
    padding: 14px 32px;
    width: 175px;
    margin: 20px 0px 100px 493px;
    background: $PrimaryBlue100;
  }
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .about {
    &__title {
      padding-right: 0px;
    }

    &__description {
      &__text1 {
        padding-right: 90px;
        margin-bottom: 80px;
      }

      &__text2 {
        margin-top: 80px;
        padding-left: 0px;
        padding-right: 110px;
      }
    }

    &__variants {
      height: 740px;
    }

    &__button {
      margin: 20px 0px 80px 0px;
    }
  }
}

@media screen and (max-width: 767px) {
  .about {
    &__suptitle {
      &::after {
        width: 260px;
        bottom: 7px;
        left: 84px;
      }
    }

    &__title {
      margin: 10px 0 30px 1px;
      padding-right: 0px;
    }

    &__variants {
      height: 590px;
      column-gap: 30px;
      row-gap: 30px;
      padding: 51px 26px;
    }

    &__item {
      height: 70px;
      img {
        width: 70px;
        height: 70px;
      }
    }

    &__item-description {
      font-size: 16px;
      padding-right: 0px;
    }

    &__description {
      &__text1 {
        padding: 0 40px 45px 5px;
        margin-bottom: 0px;
      }

      &__text2 {
        padding: 60px 40px 35px 5px;
        margin-top: 0px;
      }
    }

    &__button {
      margin: 0px 165px 80px 5px;
    }
  }
}
