@import "../variables";

.map {  
  margin-bottom: 100px;

  &__suptitle {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 530px;
      height: 2px;
      background: $GrayscaleBlack;
      bottom: 9px;
      left: 155px;
    }
  }

  &__location {
    margin-top: 25px;
    width: 98vw;
    height: 800px;
    border: none;
  }
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .map {
    margin-top: 70px;
    margin-bottom: 120px;

    &__location {
      height: 570px;
    }
  }
}
